.webuploader-container {
	position: relative;
    padding: 0;
    line-height: 18px;
    padding-left: 10px;
    
}
.webuploader-container div {
    top: 0 !important;
    left: 0 !important;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	display: inline-block;
    padding: 5px 10px;
    padding-left: 0;
}
.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

